* {
    box-sizing: border-box;
}

.header {
    font-family: snell;
    padding: 20px;
    text-align: center;
    background: #d7a6c0;
    color: rgb(124, 84, 130); /* text color */
}

/* font size of h1 element */
.header h1 {
    font-size: 50px;
    font-family: Luminari, cursive;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(252, 212, 224);
}

.grid {
    /* Prevent text from being highlighted by browser default text selection */
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    display: grid;
    grid-template-columns: repeat(12, 30px);
    grid-gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(52, 42, 56);
    border-radius: 5px;
    color: rgb(52, 42, 56);
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

#words {
    margin: 50px;
    width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    color: rgb(52, 42, 56);
    border-radius: 10px;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.selected {
    background-color: rgb(255, 215, 156);
    color: rgb(52, 42, 56);
}

.found {
    text-decoration: line-through;
    color: rgb(130, 116, 144);
    opacity: 0.6;
}

.complete {
    background-color: rgb(179, 165, 194);
}