* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 20px;
    text-align: center;
    background: #6f537a;
    color: rgb(255, 231, 244); /* text color */
}

/* font size of h1 element */
.header h1 {
    font-size: 40px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(248, 213, 246);
    padding: 20px;
}

.grid {
    /* Prevent text from being highlighted by browser default text selection */
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    display: grid;
    grid-template-columns: repeat(12, 30px);
    grid-gap: 2px;
    justify-content: center;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: transparent;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(52, 42, 56);
    border-radius: 5px;
    color: rgb(52, 42, 56);
    cursor: pointer;
}

#words {
    margin: 50px;
    width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    color: rgb(52, 42, 56);
    border-radius: 10px;
    justify-content: center;
}

.selected {
    background-color: rgb(197, 129, 208);
    color: black;
}

.found {
    text-decoration: line-through;
    color: rgb(130, 116, 144);
    opacity: 0.6;
}

.complete {
    background-color: rgb(179, 165, 194);
}